name: build

on:
  push:
    tags:
      - v*
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOCKER_CLI_EXPERIMENTAL: "enabled"
      TAG: ${{ github.ref_name }}
      REPO: "ghcr.io/${{ github.repository_owner }}"
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Docker Login
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.24.x
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: build
        run: make
      - name: push
        run: docker push ${REPO}/system-agent:${TAG}-suc
